.course_type {
    &.professional_certificate {
        color: #4c51bf;
    }
    &.degree {
        color: #319795;
    }
    &.mastertrack {
        color: #3182ce;
    }
    &.rhyme_project {
        color: #4c51bf;
    }
    &.specialization {
        color: #319795;
    }
    &.course {
        color: #3182ce;
    }
}
