.loader {
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease-in-out;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}

.background {
    opacity: 0.9;
}

.spinner {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
